html{
	font-size: 100px;
}
html,body{
	height:100%;
	margin: 0;
}

body{
	background-color: white;
}

.container{
	transform-origin:top left;
	transition: all .6s ease-in-out;
	background-color: #ddd;
	position: relative;
}
.drag-block{
	width: 2rem;
	height:2rem;
	position: absolute;
	font-size: 18px;
	background-color: white;
	box-shadow: 0 0 0.25rem 0px green inset;
}
.drop-container{
	height:3rem;
	width: 80%;
	margin:3rem auto;
	box-shadow: 0 0 0.25rem 0px #333 inset;
}
.drag{

	left: 0.2rem;
	top:0.5rem;
}
.cur-grab:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.cur-grabbing:hover {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
.cur-moving{
	cursor: move;
}
